.xx {
    text-align: center;
    font-size: xx-large ;
    color: #000;
    border: solid;
    height: 1px;

}
p {
    font-size: large;
    background-color: bisque;
    display: list-item;
    padding: 1px;

}
h4 {
    text-align: center;
    font-size: xx-large;
}
div {
    background-color: bisque;
}
